* {
    padding: 0;
    margin: 0;
}

#nav-bar {
    /* WIP */
}

#hero {
    /* WIP */
}

#slogan-main {
    /* WIP */
}

#slogan-sub {
    /* WIP */
}

#avantages {
    /* WIP */
}

#produits {
    /* WIP */
}

#services {
    /* WIP */
}

#temoignages {
    /* WIP */
}

#footer-content {
    /* WIP */
}

#footer-legals {
    /* WIP */
}

.site-header {
    /* WIP */
}

.container {
    /* WIP */
}

.row {
    /* WIP */
}

.spaced {
    /* WIP */
}

.logo {
    /* WIP */
}

.menu {
    /* WIP */
}

.cta {
    /* WIP */
}

.hero-content {
    /* WIP */
}

.column {
    /* WIP */
}

.section-title {
    /* WIP */
}

.section-slogan {
    /* WIP */
}

.site-footer {
    /* WIP */
}

.company {
    /* WIP */
}
