:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Cookie", cursive;

    --weight-regular: 400;
    --weight-semibold: 600;
    --weight-bold: 700;

    --font-size-text: 14px;
    --font-size-links: 20px;

    --container-width: 90vw;
    --card-width: 25%;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-weight: var(--weight-regular);
    font-size: var(--font-size-text);
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding: 32px 0px;
}

h2 {
    text-align: center;
}

#footer-legals {
    a {
        text-decoration: underline;
    }
}

.container {
    max-width: var(--container-width);
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.align-start {
    display: flex;
    align-items: flex-start;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.spaced {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.menu {
    gap: 32px;

    * {
        font-size: 16px;
    }
}

.cta {
    padding: 16px 24px;
    background-color: black;
    color: white;
}

.logo {
    font-size: 48px;
    font-family: var(--logo-font);
    font-weight: var(--weight-regular);
}

.card-base {
    width: var(--card-width);
    padding: 20px;
}

.border {
    border: 1px solid black;
}

.heading {
    font-size: 40px;
    font-weight: var(--weight-bold);
}

.sub-heading {
    font-size: 24px;
    font-weight: var(--weight-bold);
}

.bold-text {
    font-weight: var(--weight-bold);

    * {
        font-weight: inherit;
    }
}
